@model ProyectoPA.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = "~/Views/AdminUsuarios/Layout_Admin_Usuarios.cshtml";
}

<h2 class="text-center my-4">Eliminar Usuario</h2>

<h3 class="text-danger">¿Está seguro que desea eliminar este usuario?</h3>
<div class="card p-4 mb-4 d-flex flex-column align-items-center mx-auto" style="max-width: 800px;">
    <h4 class="mb-3 text-center">Detalles del Usuario</h4>
    <dl class="row d-flex justify-content-center">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ruta_imagen)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ruta_imagen)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Rol.nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Rol.nombre)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger me-3" />
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

