@model ProyectoPA.Donacion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_donante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_donante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_donante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_donante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodo_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_expiracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_expiracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_seguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_seguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_donacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_donacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
