@model IEnumerable<ProyectoPA.Donacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_donante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_donante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero_tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_expiracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_seguridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_donacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_donante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_donante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_expiracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_seguridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_donacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_donacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_donacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_donacion })
        </td>
    </tr>
}

</table>
